/dongyimai-manager-web/target/
/dongyimai-dao/target/
/dongyimai-content-service/target/
/dongyimai-content-interface/target/
/dongyimai-common/target/
/dongyimai-pojo/target/
/dongyimai-sellergoods-interface/target/
/dongyimai-sellergoods-service/target/
/dongyimai-shop-web/target/
